
  *{
      margin: 0;
      padding: 0;
  }
  .fadeOut{
// z-index: -9999;
    // opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    width:100%;
    height:100vh;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
    
}

.map{
    width: 1034px;
    margin: 0 auto;
    height: 100vh;
}

.map-title{
    text-align: center;
    padding: 15px;
    margin-bottom: 40px 
}

.box {
    display: flex;
    flex-direction: row;
}
.map-box__svg {
    width: 50%;
}

.land {
    fill: #083890;
    transition: all 0.5s;
    padding: 3px;
}

.land:hover{
    fill: #ECE4E2;
}

.map-land-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.land--active {
    fill: #ECE4E2;
}
